<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-2 fixed">

    </div>
    <div class="col fluid d-flex flex-column">
      <nav class="navbar">
        <main-menu></main-menu>
      </nav>
      <main class="row flex-grow">

      </main>
      <footer class="navbar navbar-light"></footer>
    </div>
    <div class="col-md-2 fixed">
      
    </div>
  </div>
</div>


<!-- {{title}} -->
<!-- <aside>
 
</aside>
<main>
  <router-outlet></router-outlet>
</main> -->
