/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
html {
    height: 100%;
}

body {
    min-height: 100vh;
}

/* fixed and fluid only on sm and up */
@media(min-width:576px){
    .fixed{
        flex:0 0 200px;
        min-height: 100vh;
    }
    .col .fluid{
        min-height: 100vh;
    }
}